# **INTERNSHIP TASK 2**

## **Problem 1: Unique Words in a Sentence**
### **Problem Statement**
Given a sentence, identify all unique words and display:
- The count of unique words
- The unique words themselves

**Hint**
- Split the sentence into individual words.
- Convert the list of words into a set to remove duplicates.
- Print both the set and its length.

**Input**
- Enter sentence: python is easy and python is powerful

**Expected Output**
- Unique words count: 5  
- Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

**Real-Time Applications**
- Text analytics
- Natural Language Processing (NLP) preprocessing
- Search engine indexing
- Chat analysis systems

In [1]:
sentence = input("Enter sentence: ")

# Step 1: Split sentence into words and into lowercase
words = sentence.lower()
words = sentence.split()

# Step 2: Convert list to set to remove duplicates
unique_words = set(words)

# Step 3: Print results
print("\nUnique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful

Unique words count: 5
Unique words: {'and', 'python', 'powerful', 'is', 'easy'}

## **Problem 2: Highest Salary from Employee Data**
**Problem Statement**

Store employee names and their salaries, and determine which employee has the highest salary.

**Hint**
- Use a dictionary where the key is the employee name and the value is the salary.
- Compare salary values to find the highest.

**Input Format**
- A dictionary where:
- Keys represent employee names
- Values represent employee salaries

**Example Input**

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

**Expected Output**

- Highest Salary: Ravi - 75000

**Real-Time Applications**
- HR management systems
- Payroll analysis

In [2]:
# Input
employees = {
  "Ravi": 75000,
  "Anita": 68000,
  "Kiran": 72000 }

for name, salary in employees.items():     #  for loop to find out maximum salary of all employees
  if salary == max(employees.values()):
    print(f"Highest_Salary: {name} - {salary}")     # Printing maximum salary

Highest_Salary: Ravi - 75000

## **Problem 3: Find Maximum and Minimum Values**
**Problem Statement**
- Find the maximum and minimum values from a list of numbers.

**Hint**
- Initialize both maximum and minimum with the first element of the list.
- Use a loop to compare each element.

**Input Format**
- A list of integers where each element represents a numeric value.

**Example Input**
- numbers = [45, 22, 89, 10, 66]

**Expected Output**
- List: [45, 22, 89, 10, 66]  
- Max: 89  
- Min: 10

**Real-Time Applications**
- Sales data analysis
- Temperature monitoring systems
- Performance metric evaluation

In [3]:
# Input value
numbers = [45, 22, 89, 10, 66]
print("List of Numbers:", numbers)

max_num = numbers[0]     # Assuming maximum number id first integer in list
min_num = numbers[0]     # Assuming minimum number id first integer in list

# For loop through the list
for num in numbers:
  if num > max_num:
    max_num = num
  elif num < min_num:
    min_num = num

# Print the results
print("\nMax:", max_num)
print("Min:", min_num)

List of Numbers: [45, 22, 89, 10, 66]

Max: 89
Min: 10

## **Problem 4: Count Products Above a Price Threshold**
**Problem Statement**
- Count how many products have a price greater than 1000.

**Hint**
- Use a loop to compare each price with 1000.

**Input Format**
- A list of integers where each element represents the price of a product.

**Example Input**
- prices = [450, 1200, 899, 1500, 300]

**Expected Output**
- Products above 1000: 2

**Real-Time Applications**
- E-commerce product filtering
- Budget analysis

In [4]:
# Input value
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
  if price > 1000:
    count += 1

print("Products above 1000:", count)

Products above 1000: 2

## **Problem 5: Calculate Attendance Percentage**

**Problem Statement**
- Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

**Hint**
- Count the number of "P" values.
- Divide by the total number of days.

**Example Input**
- attendance = ["P", "P", "A", "P", "P"]

**Expected Output**
- Attendance Percentage: 80.0

**Real-Time Applications**
- Internship tracking systems
- HR attendance management systems

In [5]:
attendance = ["P", "P", "A", "P", "P"]

Presenties = 0

for status in attendance:
  if status == "P":
    Presenties += 1

attendance_percentage = (Presenties / len(attendance)) * 100
print("Attendace Percentage:", attendance_percentage)

Attendace Percentage: 80.0

## **Problem 6: Remove Duplicate Phone Numbers**
**Problem Statement**
- You are given a list of phone numbers that may contain duplicates.
- Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

**Hint**
- Convert the list into a set.
- Sets automatically remove duplicate values.

**Input Format**
- A list of integers where each integer represents a phone number.

**Example Input**
- phone_numbers = [9876543210, 9123456789, 9876543210]

**Expected Output**
- Unique phone numbers: {9876543210, 9123456789}

**Real-Time Applications**
- Contact management applications
- Customer Relationship Management (CRM) systems
Marketing databases

In [6]:
# Input
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_ph_num = set(phone_numbers)
print("Unique phone numbers:", unique_ph_num)

Unique phone numbers: {9876543210, 9123456789}

## **Problem 7: Count Character Frequency**
**Problem Statement**
- Count how many times each character appears in a given string.

**Hint**
- Use a dictionary.
- Increment the count for each character occurrence.

**Expected Output**

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**Real-Time Applications**
- Text analysis
- Password strength validation

In [7]:
# Input
word = input("Enter a word: ")
letter_count = {}  # Create a blank dictionary

# Loop to go through the word count the characters
for char in word:
    if char in letter_count:
        letter_count[char] += 1
    else:
        letter_count[char] = 1

print(letter_count)

Enter a word: ppython
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## **Problem 8: Convert List to Tuple**
**Problem Statement**
- Convert a list into a tuple and display it.

**Hint**
- Use the tuple() function.

**Expected Output**
- Tuple: (10, 20, 30)

**Real-Time Applications**
- Making data read-only
- Configuration settings storage

In [8]:
# Input List
list_ = [10, 20, 30]

# Converting list to tuple
tuple_ = tuple(list_)
print("Tuple:", tuple_)
print("Type:", type(tuple_))

Tuple: (10, 20, 30)
Type: <class 'tuple'>

## **Problem 9: Check if a Key Exists in a Dictionary**
**Problem Statement**
- Check whether a specific key exists in a dictionary.

**Hint**
- Use the `in` keyword.
- Expected Output
- Employee exists

**Real-Time Applications**
- User validation systems
- Configuration verification

In [9]:
# Taking employee names along with thier salaries
employees = {
    'Frank': 68739,
    'Heidi': 62138,
    'David': 62800,
    'Alice': 81704,
    'Charlie': 66224}

employee_name = input("Enter employee name:")    # Taking user input

if employee_name in employees:
  print("\nEmployee exists")
else:
  print("\nEmployee does not exist")

Enter employee name:Frank

Employee exists

## **Problem 10: Calculate Average Marks**
**Problem Statement**
- Calculate the average marks of a student from a list of marks.

**Hint**
- Calculate the sum of all values.
- Divide by the total number of marks.

**Expected Output**
- Average Marks: 72.5

**Real-Time Applications**
- Student performance evaluation
- Result processing systems

In [10]:
marks = [60, 72, 85, 75, 68, 75]

sum_marks = sum(marks)
average_marks = sum_marks / len(marks)

print("Average Marks:", average_marks)

Average Marks: 72.5